################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Scheduler/bin/Debug/netstandard2.0
/Scheduler/obj
/.vs
/Test/bin/Debug/netcoreapp3.1
/Test/obj
